@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "nakedpower";
    src: url("resources/nakedpower.ttf")
}
*{
    font-family: "nakedpower";
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.infobox1 , .frontEnd{
    border-radius: 15em 70em 30em 70em ;
    animation: breathing1 4s linear infinite;
}
.backEnd{
    border-radius: 70em 30em 70em 15em ;
    animation: breathing2 3s linear infinite;

}

.homeBtns{
    border-radius: 70em 30em 70em 30em ;
}
.ficons{
    min-height: 75vh;
}


/* .reveal-right {
    position: relative;
    transform: translateX(250px);
    opacity: 0;
    transition: 1s all ease-out;
} */

.reveal-left {
    position: relative;
    transform: translateX(-250px);
    opacity: 0;
    transition: 1s all ease-out;
}

/* .reveal-right.active {
    transform: translateX(0px);
    opacity: 1;
} */

.reveal-left.active {
    transform: translateX(0px);
    opacity: 1;
}
.reveal-bottom {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.6s all ease-out;
}

.reveal-bottom.active {
    transform: translateY(0px);
    opacity: 1;
}

@keyframes breathing1 {
    0%{
        border-radius: 15em 70em 30em 70em ;
    }    
    50%{
        border-radius: 30em 100em 35em 75em ;
    }
    100%{
        border-radius: 15em 70em 30em 70em ;
    }
}
@keyframes breathing2 {
    0%{
        border-radius: 70em 30em 70em 15em ;
    }    
    50%{
        border-radius: 80em 35em 90em 20em ;
    }
    100%{
        border-radius: 70em 30em 70em 15em ;
    }
}
#python{
    animation: spin 10s ease-in-out infinite;
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}